{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h4 class="mb-3">Edit Work Log</h4>

            <form method="post">
                <div class="mb-3">
                    <label>Date</label>
                    <input type="date" name="date" class="form-control"
                           value="{{ log.work_date }}" required>
                </div>

                <div class="mb-3">
                    <label>Description</label>
                    <textarea name="description" class="form-control" rows="4" required>{{ log.description }}</textarea>
                </div>

                <button class="btn btn-primary w-100">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
